<header>
    <h1 class="header-title">
        LMU Foods
    </h1>
    <ul class="header-navigation">
        <li class="header-navigation-item">
            <a class="header-link" routerLink="/orders" routerLinkActive="active">ORDERS</a>
        </li>
        <li class="header-navigation-item">
            <a class="header-link" routerLink="/new-food" routerLinkActive="active">ADD A FOOD</a>
        </li>
        <li class="header-navigation-item">
            <a class="header-link" routerLink="/food-list" routerLinkActive="active">LIST OF FOODS</a>
        </li>
        <!-- <li class="header-navigation-item">
            <a class="header-link" style="cursor: pointer" (click)="onLogout()">LOGOUT</a>
        </li>
        <li class="header-navigation-item">
            <a class="header-link" routerLink="/auth/login" routerLinkActive="active">LOGIN</a>
        </li>
        <li class="header-navigation-item">
            <a class="header-link" routerLink="/auth/signup" routerLinkActive="active">SIGN UP</a>
        </li> -->
    </ul>
</header>