<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading" class="form-container col-sm-6 offset-sm-3 mt-2">
    <form [formGroup]="foodForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" placeholder="Name of Food" id="name" class="form-control" formControlName="name">
        </div>
        <button class="btn btn-success" type="button" (click)="filePicker.click()">Add Image</button>
        <input type="file" #filePicker (change)="onImagePick($event)">
        <div class="image-preview" *ngIf="imagePreview">
            <img [src]="imagePreview" alt="">
        </div>
        <br><br>
        <div class="form-group">
            <label for="price">Price (in &#8358;)</label>
            <input type="number" id="price" class="form-control" formControlName="price" min="0">
        </div>
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="number" id="quantity" class="form-control" formControlName="quantity" min="0">
        </div>
        <button class="btn btn-primary" (click)="onSubmit()" [disabled]="foodForm.invalid">Submit</button>
        <p class="alert-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
    </form>
</div>